doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.js')
    script(type='text/javascript', src='/javascripts/scripts.js')
    block content
