doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(type='text/javascript', src='/javascripts/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/javascripts/scripts.js')
    block content
