extends layout
block content
    h1= title


    each val, index in haters
        #images
            img(src=val.location)
            p= messages[index].message
            form(name="add-message", method="post")
                div.input
                    span.label Add new message
                    input(type="radio", name="id", class="hidden", checked="checked", value=messages[index].name)
                    input(type="text", name="newMessage")
                    input(type="submit", value="add" class="addMessage")